<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedrenrique.githubapp">

    <instrumentation android:targetPackage="com.pedrenrique.githubapp"
        android:name="androidx.test.runner.AndroidJUnitRunner"/>

    <application />

</manifest>