<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.losingtimeapps.presentation">
    <dist:module
            dist:onDemand="true"
            dist:instant="false"
            dist:title="@string/title_presentation">
        <dist:fusing dist:include="true"/>
    </dist:module>
</manifest>

